* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
a:hover {
  text-decoration: none;
  color: #373f51;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 5rem;
}
iframe {
  min-width: 400px;
  width: 95%;
  height: 20rem;
}

.nav {
  height: 8vh;
  min-width: 400px;
  background-color: #4787bb;
  /* border-bottom: 1px solid #000; */
  box-shadow: 0 0 1px 1px #eee;
  margin-bottom: 5rem;
  position: relative;
}
.back {
  /* margin: 3vh 5vw; */
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}
.back:hover {
  color: #fff;
  font-weight: 400;
}
.back::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
}
.back:hover::after {
  width: 100%;
}
main {
  position: relative;
}
.flex {
  display: flex;
}

.projectImg1 {
  background: url("../img/iPhone\ 11\ Pro\ Free\ Premium\ Mockup\ PSD.png")
    center center;
  background-size: 120%;
  min-width: 200px;
  min-height: 400px;
}
.projectImg2 {
  background: url("../img/127.0.0.1_5500_index.html\ \(3\).png") top center
    no-repeat;
  background-size: 90%;
  min-width: 200px;
  min-height: 900px;
}

h1 {
  font-weight: 400;
}
h2 {
  font-size: 16px;
  font-weight: 500;
}
.caption {
  color: #999;
  font-weight: 300;
  font-style: italic;
}
.nav .caption {
  color: #fff;
}

.content {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.8rem;
}
aside {
  position: relative;
}
.page-btn {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  top: 20vh;
}
.page-btn1 {
  display: none;
}
.next-btn {
  right: 0;
}
.pre-btn {
  left: 0;
}

.page-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #58a4b0;
  transition: all 0.5s;
}
.page-btn:hover {
  color: #58a4b0;
  font-weight: 400;
}
/* * {
  outline: 1px solid red;
} */
.tag {
  margin-top: 3rem;
  min-width: 400px;
}
.tag ul li h2 {
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.tag ul {
  border-left: 1px solid #ccc;
}
.tag ul li p {
  color: #373f51;
  font-size: 12px;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}
.tag ul li a {
  font-size: 12px;
}
@media (max-width: 767px) {
  .flex {
    display: block;
  }
  .nav {
    height: 5vh;
    margin-bottom: 0;
  }
  .container {
    padding: 2rem;
  }
  .row {
    margin: 0;
  }
  .projectImg {
    margin-bottom: 1rem;
    padding: 0;
  }
  .projectImg2 {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    background-size: 100%;
  }
  iframe {
    width: 100%;
    height: 18rem;
  }
  .page-btn {
    display: none;
  }

  .page-btn1 {
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 3rem;
  }
  .page-btn1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #58a4b0;
    transition: all 0.5s;
  }
  .next-btn {
    right: 2rem;
  }
  .pre-btn {
    left: 2rem;
  }
  main.container {
    margin: 0;
    padding: 0;
  }
  .projectBody {
    padding: 0 2rem;
    min-width: 400px;
  }
  .tag ul {
    padding: 0 2rem;
    border-left: 0px solid #ccc;
    border-top: 1px solid #ccc;
  }
}
